
.main-body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.heading{
    font-size: 3vmax;  
    color: black; 
    font-weight: bolder;
}


.score-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-weight: bolder;
    
 }
.score{
    font-size: 2vmax;
    
}

.moves{
    font-size: 2vmax;
}



.restart-button{
    font-size: 3vmax;
    align-items: center;
    padding: 10px;
    color:rgb(235, 72, 2);
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: repeat(3, 22vh);
    align-items: stretch;
    place-items: center;
    background-color:white;
    gap: 3px;
    padding: 3px;
}


.grid-item{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    border: 2px solid black;
    background-color: white;
    background: url('./pokeball.png');
    border-radius: 10%;
}